@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@600;700;800&family=Whisper&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:black;
}

.main{
    background-image: url(./Sources/Images/main-image.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 1.25rem black;
    background-size: max(85rem, 100vw) ;
    block-size: 748px;
    position: relative;
}

.main .box{
    block-size: 100%;
    inline-size: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    inset-block-start: 0;
}

nav{
    max-inline-size: 100vw;
    justify-content: center;
    margin: 0;
    display: flex;
    align-items: center;
    position: relative;
    inset-block-start: 40px;
    block-size: 62px;
    gap: 800px;
    z-index: 10;
}

nav>span>img{
    inline-size: 250px;
    block-size: 47px;
    
    padding-block-start: 8px;
    position: relative;
    z-index: 10;
}
nav>span{
    font-size: 40px;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero{
    block-size: calc(100% - 3.875rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family:  "Martel Sans", sans-serif;
    gap: 1.438rem;
    padding-block-end: 0;
}

.hero> :first-child{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 4.5rem;
    text-align: center;
}


.hero> :nth-child(2){
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    display: inline-block;
}

.hero> :nth-child(3){
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.4rem;
    text-align: center;
    /* display: inline-block; */
}
.separation{
    block-size: 0.438rem;
    background-color: rgb(46, 44, 44);
}

.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
    border: border-box;
    cursor: pointer;
    font-size: 30px;
    border-radius: 10px;
}

.btn-red{
    background-color: #E50914;
    color: white;
    font-style: normal;
    font-family: sans-serif;
    font-weight: 100;
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 18px;
    padding : 16px ;
    padding-inline-start: 25px;
    padding-inline-end: 35px;
    font-size: 32px;
    border-radius: 4px;
    border: border-box;
}
.btn-red i {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 40px;
}
.hero-buttons{
    display : flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.main input {
    padding: 26px 150px 26px 15px;
    font-size: 22px;
    font-weight: 100;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    border: 1px solid #cac1c171 ;
    background-color: #17171788;
    color: #ADBCBC;
    
}

.btn-red-sm{
    background-color: red;
    color: white;
    
}

.btn-drop_down{
    font-size: 30px;
    padding-inline-end: 6px;
}